#navigation {
    #nav-toggle {
        border: none;
        color: var(--hibern-color-second);
        background: var(--hibern-color-main-opacity);
        border-radius: var(--hibern-radius-main);
    }

    #scene-list {
        .scene {
            background: none;
            border: none;
            padding: 0;

            .scene-name {
                padding: 10px 8px;
                background: var(--hibern-color-second-opacity);
                border-radius: var(--hibern-radius-main);
                color: var(--hibern-color-main);
            }
            &.gm .scene-name {
                border-radius: var(--hibern-radius-second);
            }
            &.view .scene-name {
                background: var(--hibern-color-main-opacity);
                color: var(--hibern-color-second);
                border-radius: var(--hibern-radius-third);
            }
            &.gm, &.view, &.context {
                background: none;
                border: none;
                box-shadow: none;
            }
            ul.scene-players {
                left: 8px;
                padding-top: 1px;
            }
        }
    }
}

#context-menu {
    border: none;
    width: max-content;
    min-width: 100%;
    border-radius: var(--hibern-radius-main);
    filter: drop-shadow(0 0 10px var(--hibern-color-black));
    color: var(--hibern-color-second);
    background: var(--hibern-color-main-opacity);

    li.context-item:hover {
        background-color: var(--hibern-color-second);
        color: var(--hibern-color-main);
        text-shadow: none;
        border-radius: var(--hibern-radius-main);
    }
}

#controls {
    padding: 10px 15px;

    .main-controls {
        ::before {
            padding-top: 2px;
        }

        .scene-control {
            background-color: var(--hibern-color-main);
            color: var(--hibern-color-second);
            border-radius: var(--hibern-radius-main);
            box-shadow: 0 0 10px var(--hibern-color-main);
            border: 1px solid var(--hibern-color-second);
        }

        .active {
            background-color: var(--hibern-color-second) !important;
            color: var(--hibern-color-main) !important;
            border: 1px solid var(--hibern-color-main) !important;
            box-shadow: 0 0 10px var(--hibern-color-second) !important;
        }

        .scene-control:hover {
            background-color: var(--hibern-color-second);
            color: var(--hibern-color-main);
            border: 1px solid var(--hibern-color-main);
            box-shadow: 0 0 10px var(--hibern-color-second);
        }
    }

    .sub-controls {
        ::before {
            padding-top: 2px;
        }

        .control-tool {
            background-color: var(--hibern-color-fifth);
            color: var(--hibern-color-main);
            border-radius: var(--hibern-radius-main);
            box-shadow: 0 0 10px var(--hibern-color-fifth);
            border: 1px solid var(--hibern-color-main);
        }

        .active {
            background-color: var(--hibern-color-second) !important;
            color: var(--hibern-color-main) !important;
            box-shadow: 0 0 10px var(--hibern-color-second) !important;
        }

        .control-tool:hover {
            background-color: var(--hibern-color-second);
            color: var(--hibern-color-main);
            box-shadow: 0 0 10px var(--hibern-color-fifth);
            border: 1px solid var(--hibern-color-main);
        }

        .toggle {
            border: 1px solid var(--hibern-color-main) !important;
            background-color: var(--hibern-color-passive) !important;
        }

        .toggle.active {
            border: 1px solid var(--hibern-color-second) !important;
            background-color: var(--hibern-color-active) !important;
        }
    }
}

#players {
    border: 1px solid var(--hibern-color-second);
    border-radius: var(--hibern-radius-main);
    background-image: none;
    background-color: var(--hibern-color-main-opacity);
    color: var(--hibern-color-fifth);
    font-weight: bold;

    h3 {
        border-bottom: 2px groove var(--hibern-color-black);
        font-weight: bold !important;
        color: var(--hibern-color-second);
    }

    ol .player-name.self {
        color: var(--hibern-color-second);
    }
}

#sidebar {
    background: var(--hibern-color-second-opacity);
    color: var(--hibern-color-main);
    border-radius: var(--hibern-radius-main);

    button {
        color: var(--hibern-color-second);
        background: var(--hibern-color-main);
        border-radius: var(--hibern-radius-main);
        box-shadow: 0 0 5px inset var(--hibern-color-second);
    }

    input[type="text"], textarea {
        border-radius: var(--hibern-radius-main);
        background: var(--hibern-color-fourth);
        color: var(--hibern-color-black);
    }
    input[type="text"] {
        color: var(--hibern-color-main);
    }

    #sidebar-tabs {
        box-shadow: 0 0 10px var(--hibern-color-main);
        border-bottom: 1px solid var(--hibern-color-main);

        .item {
            color: var(--hibern-color-second);
            background-color: var(--hibern-color-main);
            border-radius: 10px 10px 0 0
        }

        .item.active {
            box-shadow: 0 0 6px inset var(--hibern-color-second);
            border: 1px solid var(--hibern-color-main);
            border-bottom: none;
        }

        .collapse {
            color: var(--hibern-color-main);
        }
    }

    #chat-controls {
        margin-top: 2px;
    }

    #chat-log {
        .chat-message {
            margin: 5px 3px 5px 3px;
            background: var(--hibern-color-second);
            border: 2px solid var(--hibern-color-black) !important;
            border-radius: var(--hibern-radius-main);
            box-shadow: 0 0 5px inset var(--hibern-color-main);
        }
    }

    .combat-sidebar {
        a {
            color: var(--hibern-color-main);
        }

        h3 {
            font-weight: bold;
            text-decoration: underline;
        }

        .encounter {
            color: var(--hibern-color-main);
        }

        #combat-tracker {
            h4 {
                color: var(--hibern-color-main);
                font-weight: bold;
                text-shadow: 2px 2px 2px var(--hibern-color-second);
            }

            a {
                color: var(--hibern-color-main);
                text-shadow: 2px 2px 2px var(--hibern-color-second);
                margin-right: 10px;
            }

            .initiative {
                color: var(--hibern-color-main);
                text-shadow: 2px 2px 2px var(--hibern-color-second);
            }
        }

        .custom-combat-tracker {
            color: var(--hibern-color-main);
            text-shadow: 2px 2px 2px var(--hibern-color-second);

            #change-posture {
                color: var(--hibern-color-main);
                background: var(--hibern-color-second-opacity);
            }

            .actionList {
                border: 1px solid var(--hibern-color-main);
                border-radius: var(--hibern-radius-main);
                background: var(--hibern-color-second-opacity);
                padding: 0px 5px 0px 5px;
                text-shadow: none;

                .used a {
                    color: var(--hibern-color-third);
                }
            }
        }
    }

    .scenes-sidebar .directory-list .directory-item .document-name {
        a {
            color: var(--hibern-color-second);
        }
    }

    li.folder.collapsed > .folder-header {
        background: var(--hibern-color-main);

        h3, a {
            color: var(--hibern-color-second);
        }
    }

    li.folder > .folder-header {
        background: var(--hibern-color-second);
        
        h3, a {
            color: var(--hibern-color-main);
        }
    }

    .subdirectory {
        border-left: 10px solid var(--hibern-color-main);
    }

    .compendium-sidebar {
        h3 {
            background: var(--hibern-color-second-opacity);
        }

        li.compendium-pack .compendium-footer {
            color: var(--hibern-color-main);
        }
    }

    .settings-sidebar {
        h2 {
            background: var(--hibern-color-second-opacity);
        }
    }
}

#sidebar.collapsed {
    .item {
        border-radius: var(--hibern-radius-main) !important;
        margin: 1px 0 1px 0;
    }
}

.app {
    background: var(--hibern-color-main-opacity);
    color: var(--hibern-color-second);
    border-radius: 15px 15px 0px 0px;
}

.window-app .window-content {
    background: var(--hibern-color-second);
    color: var(--hibern-color-main);

    button {
        border-radius: var(--hibern-radius-main);
        color: var(--hibern-color-second);
        background-color: var(--hibern-color-main);
        border: none;
    }

    button.default {
        background: var(--hibern-color-second);
        color: var(--hibern-color-main);
        border: 1px solid var(--hibern-color-main);
    }

    /*select {
        border: 1px solid var(--hibern-color-main);
    }*/

    .notes {
        color: var(--hibern-color-black);
    }
}

#hotbar {
    visibility: hidden;
    touch-action: none;
    pointer-events: none;

    .bar-controls {
        background: var(--hibern-color-main-opacity);
        border: 1px solid var(--hibern-color-second);

        a, .page-number {
            color: var(--hibern-color-second);
        }
    }

    #macro-list {
        border: none;

        .macro {
            background: var(--hibern-color-main-opacity);
            border: 1px solid var(--hibern-color-second);

            .macro-key {
                color: var(--hibern-color-main);
                background: var(--hibern-color-second-opacity);
            }
        }
    }
}

#logo {
    content: url(../images/icon.png);
}

#pause {
    img {
        content: url(../images/icon.png);
        left: calc(50% - 128px);
        width: 256px;
        --fa-animation-duration: none;
    }
}

.placeable-hud {
    .control-icon {
        border: 1px solid var(--hibern-color-second);
        background: var(--hibern-color-main-opacity);
        color: var(--hibern-color-second);
        border-radius: var(--hibern-radius-main);
    
        img {
            opacity: 1;
        }
    
        &:hover, &.active {
            border: 1px solid var(--hibern-color-main);
            color: var(--hibern-color-main);
            background: var(--hibern-color-second-opacity);
    
            img {
                opacity: 1;
                filter: brightness(0) saturate(100%) invert(24%) sepia(25%) saturate(4524%) hue-rotate(335deg) brightness(92%) contrast(98%);
            }
        }

        .status-effects {
            left: 111px;
        }
    }

    input[type="text"] {
        background: var(--hibern-color-main-opacity);
        color: var(--hibern-color-second);
        border: 1px solid var(--hibern-color-second);
    }

    /*.bottom {
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
        height: calc(250% + 100px) !important;
    }*/

    .far-right {
        justify-content: center;
        right: -105px;
    }
}

#character-rack {
    margin: -5px;
    overflow-y: hidden;

    .tabs {
        border: 1px solid var(--hibern-color-main);
        background: var(--hibern-color-main);
        color: var(--hibern-color-second);
        padding: 5px;
        border-radius: var(--hibern-radius-main);

        .item {
            font-weight: bold;
            text-shadow: none;
            display: inline-block;
            width: 100%;
        }
        .item:hover {
            text-shadow: 0 0 5px var(--hibern-color-second);
            color: var(--hibern-color-main);
        }
    }

    .tab {
        border: 1px solid var(--hibern-color-main);
        border-radius: var(--hibern-radius-main);
        margin-top: 5px;
        height: 570px;
        padding: 5px;
    }

    .rack-item {
        padding: 5px 2px 5px 2px;
        border-top: 1px solid var(--hibern-color-main);

        .actif { color: var(--hibern-color-active); }
        .passif { color: var(--hibern-color-passive); }
        .ASName { color: var(--hibern-color-passive); }
    }
    .rack-item:last-child {
        border-bottom: 1px solid var(--hibern-color-main);
    }
}

#menu {
    background: var(--hibern-color-main-opacity);
    border: 1px solid var(--hibern-color-second);
    border-radius: var(--hibern-radius-main);

    #menu-items {
        li:not(:last-child) {
            border-bottom: 1px solid var(--hibern-color-second);
        }
    }
}