#navigation {
    #nav-toggle {
        border: none;
        color: @second-color;
        background: @main-color-opacity;
        border-radius: @main-radius;
    }

    #scene-list {
        .scene {
            background: none;
            border: none;
            padding: 0;

            .scene-name {
                padding: 10px 8px;
                background: @second-color-opacity;
                border-radius: @main-radius;
                color: @main-color;
            }
            &.gm .scene-name {
                border-radius: @second-radius;
            }
            &.view .scene-name {
                background: @main-color-opacity;
                color: @second-color;
                border-radius: @third-radius;
            }
            &.gm, &.view, &.context {
                background: none;
                border: none;
                box-shadow: none;
            }
            ul.scene-players {
                left: 8px;
                padding-top: 1px;
            }
        }
    }
}

#context-menu {
    border: none;
    width: max-content;
    min-width: 100%;
    border-radius: @main-radius;
    filter: drop-shadow(0 0 10px @black-color);
    color: @second-color;
    background: @main-color-opacity;

    li.context-item:hover {
        background-color: @second-color;
        color: @main-color;
        text-shadow: none;
        border-radius: @main-radius;
    }
}

#controls {
    padding: 10px 15px;

    .main-controls {
        ::before {
            padding-top: 2px;
        }

        .scene-control {
            background-color: @main-color;
            color: @second-color;
            border-radius: @main-radius;
            box-shadow: 0 0 10px @main-color;
            border: 1px solid @second-color;
        }

        .active {
            background-color: @second-color !important;
            color: @main-color !important;
            border: 1px solid @main-color !important;
            box-shadow: 0 0 10px @second-color !important;
        }

        .scene-control:hover {
            background-color: @second-color;
            color: @main-color;
            border: 1px solid @main-color;
            box-shadow: 0 0 10px @second-color;
        }
    }

    .sub-controls {
        ::before {
            padding-top: 2px;
        }

        .control-tool {
            background-color: @fifth-color;
            color: @main-color;
            border-radius: @main-radius;
            box-shadow: 0 0 10px @fifth-color;
            border: 1px solid @main-color;
        }

        .active {
            background-color: @second-color !important;
            color: @main-color !important;
            box-shadow: 0 0 10px @second-color !important;
        }

        .control-tool:hover {
            background-color: @second-color;
            color: @main-color;
            box-shadow: 0 0 10px @fifth-color;
            border: 1px solid @main-color;
        }

        .toggle {
            border: 1px solid @main-color !important;
            background-color: @passif-color !important;
        }

        .toggle.active {
            border: 1px solid @second-color !important;
            background-color: @actif-color !important;
        }
    }
}

#players {
    border: 1px solid @second-color;
    border-radius: @main-radius;
    background-image: none;
    background-color: @main-color-opacity;
    color: @fifth-color;
    font-weight: bold;

    h3 {
        border-bottom: 2px groove @black-color;
        font-weight: bold !important;
        color: @second-color;
    }

    ol .player-name.self {
        color: @second-color;
    }
}

#sidebar {
    background: @second-color-opacity;
    color: @main-color;
    border-radius: @main-radius;

    button {
        color: @second-color;
        background: @main-color;
        border-radius: @main-radius;
        box-shadow: 0 0 5px inset @second-color;
    }

    input[type="text"], textarea {
        border-radius: @main-radius;
        background: @fourth-color;
        color: @black-color;
    }
    input[type="text"] {
        color: @main-color;
    }

    #sidebar-tabs {
        box-shadow: 0 0 10px @main-color;
        border-bottom: 1px solid @main-color;

        .item {
            color: @second-color;
            background-color: @main-color;
            border-radius: 10px 10px 0 0
        }

        .item.active {
            box-shadow: 0 0 6px inset @second-color;
            border: 1px solid @main-color;
            border-bottom: none;
        }

        .collapse {
            color: @main-color;
        }
    }

    #chat-controls {
        margin-top: 2px;
    }

    #chat-log {
        .chat-message {
            margin: 5px 3px 5px 3px;
            background: @second-color;
            border: 2px solid @black-color !important;
            border-radius: @main-radius;
            box-shadow: 0 0 5px inset @main-color;
        }
    }

    .combat-sidebar {
        a {
            color: @main-color;
        }

        h3 {
            font-weight: bold;
            text-decoration: underline;
        }

        .encounter {
            color: @main-color;
        }

        #combat-tracker {
            h4 {
                color: @main-color;
                font-weight: bold;
                text-shadow: 2px 2px 2px @second-color;
            }

            a {
                color: @main-color;
                text-shadow: 2px 2px 2px @second-color;
                margin-right: 10px;
            }

            .initiative {
                color: @main-color;
                text-shadow: 2px 2px 2px @second-color;
            }
        }

        .custom-combat-tracker {
            color: @main-color;
            text-shadow: 2px 2px 2px @second-color;

            #change-posture {
                color: @main-color;
                background: @second-color-opacity;
            }

            .actionList {
                border: 1px solid @main-color;
                border-radius: @main-radius;
                background: @second-color-opacity;
                padding: 0px 5px 0px 5px;
                text-shadow: none;

                .used a {
                    color: @third-color;
                }
            }
        }
    }

    .scenes-sidebar .directory-list .directory-item .document-name {
        a {
            color: @second-color;
        }
    }

    li.folder.collapsed > .folder-header {
        background: @main-color;

        h3, a {
            color: @second-color;
        }
    }

    li.folder > .folder-header {
        background: @second-color;
        
        h3, a {
            color: @main-color;
        }
    }

    .subdirectory {
        border-left: 10px solid @main-color;
    }

    .compendium-sidebar {
        h3 {
            background: @second-color-opacity;
        }

        li.compendium-pack .compendium-footer {
            color: @main-color;
        }
    }

    .settings-sidebar {
        h2 {
            background: @second-color-opacity;
        }
    }
}

#sidebar.collapsed {
    .item {
        border-radius: @main-radius !important;
        margin: 1px 0 1px 0;
    }
}

.app {
    background: @main-color-opacity;
    color: @second-color;
    border-radius: 15px 15px 0px 0px;
}

.window-app .window-content {
    background: @second-color;
    color: @main-color;

    button {
        border-radius: @main-radius;
        color: @second-color;
        background-color: @main-color;
        border: none;
    }

    button.default {
        background: @second-color;
        color: @main-color;
        border: 1px solid @main-color;
    }

    /*select {
        border: 1px solid @main-color;
    }*/

    .notes {
        color: @black-color;
    }
}

#hotbar {
    visibility: hidden;
    touch-action: none;
    pointer-events: none;

    .bar-controls {
        background: @main-color-opacity;
        border: 1px solid @second-color;

        a, .page-number {
            color: @second-color;
        }
    }

    #macro-list {
        border: none;

        .macro {
            background: @main-color-opacity;
            border: 1px solid @second-color;

            .macro-key {
                color: @main-color;
                background: @second-color-opacity;
            }
        }
    }
}

#logo {
    content: url(../images/icon.png);
}

.placeable-hud {
    .control-icon {
        border: 1px solid @second-color;
        background: @main-color-opacity;
        color: @second-color;
        border-radius: @main-radius;
    
        img {
            opacity: 1;
        }
    
        &:hover, &.active {
            border: 1px solid @main-color;
            color: @main-color;
            background: @second-color-opacity;
    
            img {
                opacity: 1;
                filter: brightness(0) saturate(100%) invert(24%) sepia(25%) saturate(4524%) hue-rotate(335deg) brightness(92%) contrast(98%);
            }
        }

        .status-effects {
            left: 111px;
        }
    }

    input[type="text"] {
        background: @main-color-opacity;
        color: @second-color;
        border: 1px solid @second-color;
    }

    /*.bottom {
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
        height: calc(250% + 100px) !important;
    }*/

    .far-right {
        justify-content: center;
        right: -105px;
    }
}

#character-rack {
    margin: -5px;
    overflow-y: hidden;

    .tabs {
        border: 1px solid @main-color;
        background: @main-color;
        color: @second-color;
        padding: 5px;
        border-radius: @main-radius;

        .item {
            font-weight: bold;
            text-shadow: none;
            display: inline-block;
            width: 100%;
        }
        .item:hover {
            text-shadow: 0 0 5px @second-color;
            color: @main-color;
        }
    }

    .tab {
        border: 1px solid @main-color;
        border-radius: @main-radius;
        margin-top: 5px;
        height: 570px;
        padding: 5px;
    }

    .rack-item {
        padding: 5px 2px 5px 2px;
        border-top: 1px solid @main-color;

        .actif { color: @actif-color; }
        .passif { color: @passif-color; }
        .ASName { color: @passif-color; }
    }
    .rack-item:last-child {
        border-bottom: 1px solid @main-color;
    }
}

#menu {
    background: @main-color-opacity;
    border: 1px solid @second-color;
    border-radius: @main-radius;

    #menu-items {
        li:not(:last-child) {
            border-bottom: 1px solid @second-color;
        }
    }
}